<footer>
<div class="footer-license"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a></div>
	Site powered by <a href="http://ghost.org" target="_blank">Ghost</a><br />
	<a href="https://github.com/collingsr/rook" target="_blank">Rook</a> theme by <a href="http://ruthcollings.ca" target="_blank">Ruth Collings</a><br /><br />
</footer>